<!DOCTYPE html>
<html>
<head>
    <title>Passwort Sicherheit</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

    <h1>Wie sicher ist mein Passwort?</h1>

    <input
        type="password"
        id="password"
        maxlength="20"
        oninput="analyzePassword()"
    >

    <p class="warning">
        Aus Sicherheitsgründen solltest du nicht deine echten Passwörter eingeben.
    </p>

    <div class="result" id="result" style="display:none;">
        <p>
            Ein herkömmlicher PC könnte dein Passwort innerhalb von
        </p>

        <h2 id="time"></h2>

        <p>
            knacken.
        </p>
    </div>

    <p class="disclaimer">
        (Der Seitenbetreiber gibt keine Gewähr auf die Angabe und deren Korrektheit.)
    </p>

</div>

<!-- EXTERNES JS -->
<script src="/static/script.js"></script>

</body>
</html>